<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SiwProducts - Benvenuto</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
	<header>
	    <div style="display: flex; justify-content: space-between; align-items: center;">
	        <h1>Benvenuto su SiwProducts</h1>

	        <!-- Se l'utente è autenticato -->
	        <div th:if="${#authorization.expression('isAuthenticated()')}" style="text-align: right;">
	            <span th:text="'Utente: ' + ${#authentication.name}"></span>
	            <span th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}"> (ADMIN)</span>
	            <span th:if="${#authorization.expression('hasAuthority(''USER'')')}"> (USER)</span>
	            |
	            <a th:href="@{/logout}">Logout</a>
	        </div>

	        <!-- Se l'utente NON è autenticato -->
	        <div th:unless="${#authorization.expression('isAuthenticated()')}" class="auth-links" style="text-align: right;">
	            <a th:href="@{/login}">Login</a> |
	            <a th:href="@{/auth/register}">Registrati</a>
	        </div>
	    </div>
	</header>
	
    
	
	<section class="categorie" th:if="${categorie != null}">
		    <div class="categoria" th:each="cat : ${categorie}">
		        <h2 th:text="${cat.nome}">Nome categoria</h2>
		        <a th:href="@{'/product/' + ${cat.tipologia}}">
		            <img th:src="@{'/images/' + ${cat.immagine}}" th:alt="${cat.nome}" />
		        </a>
		    </div>
		</section>
</body>
</html>
